// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container{
  background-image: url("https://res.cloudinary.com/hammpsrnb/image/upload/v1591767542/tim-mossholder-tq8Cuap8_wY-unsplash_1_vmzmwr.jpg");
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  height: 800px;
  background-size: cover;
  padding-top: 140px;
}
// .main-container h1,
// .main-container h4{
//   color: white;
// }